# Build files
kernel_build/*.zip
kernel_build/*.tar
kernel_build/*.img.lz4
kernel_build/*.img
kernel_build/*.br

# Build Dirs
kernel_build/tmp/*
kernel_build/FireAsf/*

# From .patches
*.rej
*.orig

# KernelSU-Next
KernelSU-Next
